.iphone-frame1 {
  width: 430px;
  height: 932px;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 40px; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.iphone-frame1::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 91px;
  background: #5A776D;
  /* border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px; */
}

.background-circle{
  border-radius: 301px;
  border: 1px solid #5A776D;
  width: 301px;
  height: 301px;
  transform: rotate(-120.432deg);
  flex-shrink: 0;
  position: absolute;
  margin-top: -80%;
}

.sidebar-button,
.myinfo-button {
  background-color: #ffffff;
  border-color: #ffffff;
  border-style: none;
  cursor: pointer;
  position: absolute;
}

.sidebar-button {
  margin-top: -180%;
  margin-right: 80%;

}

.myinfo-button {
  margin-top: -180%;
  margin-left: 80%;
}

.background {
  width: 349px;
  height: 301;
  margin-top: -80%;
}

.main-text {
  color: #5A776D;
  font-family: Pretendard;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.32px;
  position: absolute;
  margin-top: -80%;
  text-align: right;
}

.btn-list {
  position: absolute;
  top: 55%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.btn-list b {
  margin: 0 15px;
  color: #DADADA;
  cursor: pointer;
  transition: color 0.3s ease;
  cursor: pointer;
  transition: color 0.3s;
}

.btn-list b:hover {
  color: #6EA693;
}

.box1 {
  border-radius: 40px;
  border: 1px solid #C1C2C5;
  width: 340px;
  height: 125px;
  margin-top: 75%;
  background-color: #FFF;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  cursor: pointer;
}

.StampBtn {
  background-color: #ffffff;
  border-style: none;
  margin-right: -55%;
  cursor: pointer;
  width: 1px;
  height: 1px;
  margin-top: -25%;
  position: absolute;
  z-index: 3;
}

.visitText{
  color: #6EA693;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  position: absolute;
  margin-top: 130%;
  margin-left: -60%;
}

.visitor-layout {
  width: 340px;
  height: 47px;border-radius: 40px;
  border: 1px solid #C1C2C5;
  color: #5A776D;
  position: absolute;
  margin-top: 145%;
  z-index: 5;
  display: flex;     
  justify-content: center; 
  align-items: center; 
}

.madeby {
  color: #FFF;
  font-size: 15px;
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: 0%;
  z-index: 5;
}

.cat1{
  width: 65px;
  height: 93px;
  margin-left: -40%;
  margin-top: -70%;
  position: absolute;
}

.cat2{
  width: 74.75px;
  height: 80.45px;
  margin-left: -25%;
  margin-top: -40%;
  position: absolute;
}

.cat3{
  width: 78px;
  height: 78px;
  margin-left: -2%;
  margin-top: -29%;
  position: absolute;
}

.cat4{
  width: 87px;
  height: 84px;
  margin-left: 30%;
  margin-top: -40%;
  position: absolute;
}

.cat5{
  width: 76px;
  height: 76px;
  margin-left: 48%;
  margin-top: -65%;
  position: absolute;
}

.cat6{
  width: 76.39px;
  height: 73.19px;
  margin-left: -2%;
  margin-top: -135%;
  position: absolute;
}

.small-circle{
  width: 102px;
  height: 102px;
  background-color: #B2E0D0;
  position: absolute;
  border-radius: 50%;
  margin-top: -120%;
  margin-left: -50%;
}

.swuni-text{
  color: #5A776D;
  text-align: right;
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.32px;
  margin-top: -95%;
  margin-left: 40%;
  background-color: #FFF;
  position: absolute;
}

.insta{
  width: 15px;
  height: 17px;
}

