.divform1-1 {
    width: 380px;
    height: 136px;
    border-radius: 40px;
    background-color: #FFFCFC;
    border: 1px solid #8D8D8D;
    position: relative;
    margin-top: 15%;
    display: flex;          
    flex-direction: column;  
    align-items: center;     
    justify-content: center; 
}

.divform1 {
    width: 380px;
    height: 136px;
    border-radius: 40px;
    background-color: #FFFCFC;
    border: 1px solid #8D8D8D;
    position: relative;
    margin-top: 15%;
}


.divform2 {
    width: 380px;
    height: 622px;
    border-radius: 40px;
    background-color: #FFFCFC;
    border: 1px solid #000000;
    overflow-y: scroll;
    position: relative;
    margin: 0 auto; 
    max-width: 960px; 
    display: flex;
    flex-wrap: wrap;
}

.rankingcheck {
    margin-top: 13px;
    margin-bottom: 15px;
    margin-left: 50%;
    color: #898A8D;
    cursor: pointer;
}

.guestbookBtn {
    width: 188px;
    height: 30.513px;
    border-radius: 20px;
    background: #B2E0D0;
    border-style: none;
    position: absolute;
    margin-left: 30px;
    margin-top: 20%;
    color: #ffffff;
    cursor: pointer;

}

.guestbook-entry {
    flex: 0 0 48%;
    margin: 1%; 
    background: #ffffff;
    padding: 10px; 
    box-sizing: border-box; 
    border-radius: 10%;
    height: 40%;
}

.guestbook-img {
    width: 100%;
    height: auto;
    border-radius: 4px; 
}

.guestbook-content {
    padding: 2px;
    font-size: 14px; 
    color: #333;
    margin-top: -6%;
}
