
.iphone-frame1{
    overflow: hidden;
    }

  .Btn4box1 {
    border-radius: 40px;
    background: #B2E0D0;
    width: 110px;
    height: 142px;
    position: absolute;
    margin-top: 100%;
    margin-left: -90%;
    border-style: none;
    }
  
    .Btn4box2{
        border-radius: 40px;
        background: #B2E0D0;
        width: 110px;
        height: 142px;
        position: absolute;
        margin-top: 100%;
        margin-left: 60%;
        border-style: none;

    }
  
    .Btn4box3{
        border-radius: 40px;
        background: #B2E0D0;
        width: 110px;
        height: 142px;
        position: absolute;
        margin-top: 100%;
        margin-left: 120%;
        border-style: none;


    }
  
    .Btn4box4{
        border-radius: 40px;
        background: #DAF1E9;;
        width: 176px;
        height: 203px;
        position: absolute;
        margin-top: 100%;
        margin-left: -15%;
        border-style: none;
    }