.iphone-frame {
  width: 430px;
  height: 932px;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll; 
}

.sidebar-button, .myinfo-button {
  background-color: #ffffff;
  border-color: #ffffff;
  border-style: none;
  cursor: pointer;
  position: absolute;
}

.sidebar-button {
  margin-top: -180%;
  margin-right: 80%;
}

.myinfo-button {
  margin-top: -180%;
  margin-left: 80%;
}

.background{
  width: 349px;
  height: 301;
  margin-top: -80%;
}

.main-text {
  color: #5A776D;
  font-family: Pretendard;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.32px;
  position: absolute;
  margin-top: -80%;
  text-align: right;
}

.btn-list {
  position: absolute;
  top: 55%; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.btn-list b {
  margin: 0 15px;
  color: #DADADA;
  cursor: pointer;
  transition: color 0.3s ease;
}

.btn-list b.active {
  color: #6EA693;
}

/* .div-box1 {
  width: 200px;
  height: 320px;
  border-radius: 40px;
  background: #6EA693;
  margin: 0 10px; 
  flex-shrink: 0; 
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex; 
  flex-wrap: nowrap; 
  overflow-x: auto; 

}

.div-box1.active {
  margin-top: 120%;
  position: absolute;
  transform: scale(1.1);
  background: #B2E0D0;
  z-index: 10;
}

.div-box1:not(.active) {
  margin-top: 120%;
  position: absolute;
  transform: scale(0.9);
  opacity: 0.5;
}

.div-box2 {
  width: 200px;
  height: 320px;
  border-radius: 40px;
  background: #6EA693;
  margin: 0 10px; 
  flex-shrink: 0; 
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex; 
  flex-wrap: nowrap; 
  overflow-x: auto; 

}

.div-box2.active {
  margin-top: 150%;
  position: absolute;
  transform: scale(1.1);
  background: #B2E0D0;
  z-index: 10;
}

.div-box2:not(.active) {
  transform: scale(0.9);
  opacity: 0.5; 
} */


@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bareun_hipi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Bareun_hipi.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* body {
  text-align: center;
  background-color: rgb(197, 198, 197);
  font-family: "Jua", sans-serif;
} */

.container {
  width: 500px;
  background-color: #fff;
  margin: 0 auto;
  height: 100vh;
  overflow-y: scroll;
}

.iphone-frame::-webkit-scrollbar {
  width: 0.5em;
}

.iphone-frame::-webkit-scrollbar-track {
  background: transparent;
}

.iphone-frame::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.iphone-frame::-webkit-scrollbar-thumb:hover {
  background: transparent;
}