.booth-title {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin-bottom: 10px;
    font-weight: bold;
    z-index: 1;
    text-align: center;
    font-size: 20px;
    color: #575757;
}

.booth-layout {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.booth-categories {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.booth-category {
    flex: 1;
    padding: 10px;
    background-color: #B2E0D0;
    border: none;
    margin: 5px;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

.booth-category.selected {
    background-color: #5A776D;
    color: white;
}

.select-category {
    margin: 15px 0px 10px -250px;
    color: #575757;
    font-size: 22px;
    font-weight: 700;
}

.select-place {
    margin: 3px 0px 10px -110px;
    color: #7E7F82;
    font-size: 14px;

}

.select-time {
    position: relative;
    padding-left: 55px;
    margin: 5px 0px 5px -80px;
    color: #7E7F82;
    font-size: 14px;
}

.select-place::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 25.3%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #6EA693;
    border-radius: 50%;
    margin-left: 37.5px;
}


.select-time::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #6EA693;
    border-radius: 50%;
    margin-left: 32px;

}